@font-face {
    font-family: "zeit";
    font-style: normal;
    font-weight: normal;
    src: url('/public/fonts/DeutscheZierschrift.ttf'); /* Modern Browsers */
}

html {
    background-color: #fbfbf6;
    color: #3c3d31;
    font-size: 100%; }

body{
    padding-top:0;
    margin-top:0
}

body,
p
{
    font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
    font-weight: normal;
    font-style: normal; }

a{
    color: #3c3d31;
    text-decoration: none;
}


:root {
    /* Breakpoint variables */
    --bp-small: 24.15;
    --bp-medium: 43.75;
    --bp-large: 60.25;
    --bp-xlarge: 75;
    /* text GRAD */
    --text-GRAD: 88;
    /* Paragraph variables */
    --p-line-height-min: 1.15;
    --p-line-height-max: 1.5;
    --p-font-size-min: 1.0;
    --p-font-size-max: 1.25;
    --p-vf-wght: 350;
    --p-vf-wdth: 100;
    /* H1 variables */
    --h1-line-height-min: 0.95;
    --h1-line-height-max: 1.05;
    --h1-font-size-min: 2;
    --h1-font-size-max: 3;
    --h1-vf-wght-multiplier-s: 2;
    --h1-vf-wght-multiplier-m: 2.25;
    --h1-vf-wght-multiplier-l: 2.5;
    --h1-vf-wdth: 100;
    /* H2 variables */
    --h2-line-height-min: 1.15;
    --h2-line-height-max: 1.25;
    --h2-font-size-min: 1.5;
    --h2-font-size-max: 1.5;
    --h2-vf-wght-multiplier-s: 1.25;
    --h2-vf-wght-multiplier-m: 1.5;
    --h2-vf-wght-multiplier-l: 1.75;
    --h2-vf-wdth: 100;
    /* Dropcap variables */
    --dc-line-height-min: .9;
    --dc-line-height-max: .95;
    --dc-font-size-min: 2.7;
    --dc-font-size-max: 5;
    /* Blockquote variables */
    --bq-line-height-min: 1.1;
    --bq-line-height-max: .95;
    --bq-font-size-min: 2.7;
    --bq-font-size-max: 5; }


.graded {
    --text-GRAD: 150; }
.logo{
    font-weight:  normal;
    text-align: left;
    font-size: 2rem;
    display: inline-block;
    z-index: 2;
    position: relative;
    margin: 1rem auto;
    font-family:'zeit'

}

/* main-nav */

.main-nav{
    display: none;
    position: absolute;
    background: black;
    left: 0;
    top: 3rem;
    right: 0;
    padding: 0 .5rem;
    margin: 0 .5rem;}

#open-nav .main-nav{
    display: block;
}

.main-nav--container {
    margin-left:0;
    padding-left: 0;
    padding-bottom: 2em;
    list-style: none;
}
.main-nav--item{
    text-align:left;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    line-height: 1.2em;
    padding-top: 1em;
    padding-bottom: .5em;
    font-family: zeit;

}
.main-nav--item a{
    color: #ffff;
    text-decoration: none;
}
.main-nav--search-input{
    border: none;
    color: white;
    background: black;
    font-size: 1em;
    font-family: zeit;
    width: 100%;
}

@media screen and (min-width: 43.75em) {

    .main-nav{
        padding:0 2em;
    }
}
@media screen and (min-width: 60.25em) {

    .main-nav {
        display: inline-block;
        background: none;
        position: initial;
        padding: unset;
        float: right;
        padding-top: .7em;
    }
    .main-nav--container{
        margin: 0;
        padding: 0;
    }
    .main-nav--item a{
        color: #3c3d31;
    }
    .main-nav--item{
        display: inline-block;
        border:none;
        font-size: 1.2em;
        padding: 0;
    }
    .main-nav--item:last-of-type{
        padding-left:1em;
    }
    .main-nav--search-input{
        background: transparent;
        color:#3c3d31;
    }
}

/* --------------- main-nav -------------------- */

/* mobile-open-nav */

#open-nav{
    background: black;
    color: white;
    margin-bottom: 3rem;
}
#open-nav .mobile-open-nav{
    color: white;
}



#mobile-open-nav {
    display: inline-block;
    float: right;
    margin-top: .9em;
    text-align: right;
    color: #3c3d31;
    z-index: 2;
    font-size: 1.4em;
}


@media screen and (min-width: 43.75em) {

    #mobile-open-nav{
        position: absolute;
        right: 2em;
        top:0;
    }

}
@media screen and (min-width: 60.25em) {
    #mobile-open-nav {
        display: none;
    }

}


/* mobile-open-nav */


/* main header */

.main-header{
    margin-bottom: 3rem;
    font-family: zeit;
    padding: 0 .5rem;
}
@media screen and (min-width: 24.15em) {
    .main-header{
        padding:0 1em;
    }

}

@media screen and (min-width: 43.75em) {

    .main-header{
        padding:0 2em;
    }
}

@media screen and (min-width: 60.25em) {
    .main-header {
        padding: 2em 4em;

    }
}
@media screen and (min-width: 75em) {
    .main-header {
        padding: 2em 7em;

    }
}

/* main header */


/* index page */

.index{
    padding: 0 .5em;
}

@media screen and (min-width: 24.15em) {
    .index{
        padding:0 1em;
    }

}
@media screen and (min-width: 43.75em) {

    .index{
        padding:0 2em;
    }
}

@media screen and (min-width: 60.25em) {
    .index {
        padding-left: 5em;
    }
}
@media screen and (min-width: 75em) {
    .index {
        padding-left: 8em;
    }
}


/* index page */
.subtitle{
    margin-bottom: 1rem;
    font-family: zeit;
}
.subtitle.read{
    border:1px solid  #3c3d31;
    display: inline-block;
    padding: .2em .4em;
    border-radius: 5px;
}
.subtitle.chapters, .subtitle.l{
    margin-top:2em;
}
.subtitle.l{
    margin-bottom: 1em;
}


.subtitle.info{
    display: inline-block;
    border: 1px solid #3c3d31;
    border-radius: 50%;
    width: 1em;
    line-height: 1em;
    text-align: center;
    opacity: .4;
    margin-bottom:0;
}
@media only screen and (min-width: 75em) {
    .index .subtitle {
        margin-left: 0;
    }
}

/* subtitle */


/* preview */

.preview {
    padding-top: .75em;
    margin-bottom: 1em;
    border-bottom: 1px solid #777;
}
.preview h1{
    margin: .5rem auto;
}
.preview h2{
    margin-bottom: .5rem;
}
@media screen and (min-width: 60.25em) {
    .preview {
        width: 52em;
    }
}
@media screen and (min-width: 75em) {
    .preview {
        width: 64em;
    }
}

/* preview */


/* -----book details ------ */


.book-details {
    padding: 0 .5rem;
}
.book-details a{
    text-decoration: underline;
}
.book-details p,
.book-details .subtitle,
.book-details h1,
.book-details h2 {
    margin-left: initial;
}

.book-title{
    --h1-line-height-min: .95;
    --h1-line-height-max: 1.05;
    --h1-font-size-min: 2.0;
    --h1-font-size-max: 4;
    font-weight: 700;
}
.book-author{
    --h2-line-height-min: 1.15;
    --h2-line-height-max: 1.25;
    --h2-font-size-min: 1.5;
    --h2-font-size-max: 2.5;
    font-weight: 700;
}
.book-details .subtitle{
    margin-bottom: 1.5rem;
}


.book-details--content{
    margin-bottom: 2rem;
}

.book-details--parts {
    padding-left: 0;
    list-style: none;
}

.book-details--parts__item{
        padding-bottom: 1.5rem;
}

.book-details--chapters {
    list-style: none;
    padding-left: 0;
}
.book-details--chapters__item{
    padding: .5em 0;
    font-size: calc(1.15*1rem);
}
.book-details--parts__item h2 {
    border-bottom: 1px solid #777;
    padding: .5rem;
    margin-bottom: 1rem;

}
.book-details--chapters__item a{
    padding:.2rem 1rem;
    min-width: 1.5em;
    display: block;
}
.book-details .license,
.book-details .credits,
.book-details .contents
{
    margin-top:2rem;
}



@media screen and (min-width: 24.15em) {
    .book-details{
        padding:0 1rem;
    }

}
@media screen and (min-width: 43.75em) {

    .book-details{
        padding:0 2em;
    }
}
@media screen and (min-width: 60.25em) {
    .book-details {
        padding-left: 5em;
    }
}
@media screen and (min-width: 75em) {
    .book-details {
        padding-left: 8em;
    }
}

/* -----book details ------ */










.change{
    display: none;
}







@media screen and (min-width: 60.25em) {

    .logo{
        margin: 0;
        font-size:2.4em;
    }

    .change.left{
        left:1em;

    }
    .change{
        display: block;
        position: fixed;
        font-size: 1.5em;
        top:50%;
        opacity: .5;
    }
    .change a{
        width: 1.5em;
        height: 1.5em;
        display: block;
        text-align: center;
        line-height: 1.5em;
    }
    .change.right{
        right: 1em;
    }
}


.book{
    padding-top:.5em;
}
.book-content{
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
}
@keyframes pageNumberOpacity {
    0% {
        opacity: 1
    }
    100% {
        opacity: .4;
    }
}


.book-meta{
    border:1px solid #777777;
    --h1-font-size-min: 1.7;
    --h1-font-size-max: 2;
    --h2-font-size-min: 1.2;
        width: 2em;
    overflow: hidden;
    padding:2em;
    position: absolute;
}
.book-meta h1{
    margin:.4rem auto;

}
.book-meta a{
    text-decoration: underline;
}



.subtitle.pag{
    opacity: .4;
    float:right;
    display: inline-block;
    transition: all 1s linear;

}
.pag.pageNumber-enter-active{
    opacity: 1;
    transition: all 1s linear;
}

@media screen and (min-width: 43.75em) {
.book{
    padding-top: 1em;
}
}
@media screen and (min-width: 60.25em) {

    .book{
        padding-top: 2em;
    }
    .book-content p,
    .subtitle.pag
    {
        margin-left: initial;
    }
    .logo{
        margin: 0;
        font-size:2.4em;
    }

    .book-content{
        max-width: initial;
        margin-left: 4rem;
    }
    .subtitle.pag{
        float: initial;
        display: block;
        margin-top:.5rem;
        padding-left: .4rem;
    }
}










